{% extends "base.html" %}
{% block "title"%}Contact{% endblock %}
{% block "content" %}
    <div class="main-section">
            
        <table class="contact-table">
            <tbody>
                <tr>
                    <td class="contact-main">
                        <a href="http://blog.arjunnaik.in" title="Arjun's Blog">Blog</a>
                    </td>
                    <td>
                        I blog occansional about the random, mundane and inconsequential things which find their way into my head.
                    </td>
                </tr>
                <tr>
                    <td class="contact-main">
                        <a href="http://www.facebook.com/arjun.naik" title="Arjun's Facebook Page">Facebook</a>
                    </td>
                    <td class="contact-description">
                        I have tried deleting my account but I get sucked back into it again. I dare you to try it.
                    </td>
                </tr>
                <tr>
                    <td class="contact-main">
                        <a href="http://in.linkedin.com/pub/arjun-naik/20/3b8/795" title="Arjun's Linkedin Page">Linkedin</a>
                    </td>
                    <td class="contact-description">
                        If Linkedin is your thing then I have an account there too.
                    </td>
                </tr>
                <tr>
                    <td class="contact-main">
                        <a href="https://plus.google.com/106764839540875185613/about" title="Arjun's Google Plus Page">Google Plus</a>
                    </td>
                    <td class="contact-description">
                        The new kid in town. I'm using it because people like Linus Torvalds are also there.
                    </td>
                </tr>
            </tbody>
        </table>
        <a  name="contact"></a>
    </div>
{% endblock %}