{% extends "base.html" %}
{% block "content" %}
	<div class="main-section">
		<p class="intro-text">
			I am an software developer living in Bangalore. For the past year I have been working for Notikum Pte. Ltd. I work primarily in the area of User Experience and User Interface development. I also develop Android Applications. I am interested in Python and Javascript. In 2010 I graduated from BM Sreenivasaiah College of Engineering here in Bangalore. Outside work my other interests are Science-Fiction and my favourite author is Issac Asimov. On this site you can find my resume and some of the projects I have worked on or am currently working on. I haven't recorded everything I have worked on so the source code is not available right now. If you need any information about my projects or want to collaborate on any project please get in touch with me.
		</p>
	</div>
{% endblock %}