{% extends "base.html" %}
{% block "content" %}
	<div class="main-section">
		<p class="intro-text">
            I currently in Germany, pursuing a Master's degree in Distributed Systems Engineering. Till August 2012 I was living in Bangalore working as a Software Developer. My work was primarily focussed with Android App development, User Experience and also some Asynchronous Server development. I love Python programming and prefer working with it the most. I also like the object model in JavaScript and have used it extensively. I also know Java, for all those boring tasks.
            In 2010 I graduated from BM Sreenivasaiah College of Engineering here in Bangalore. Outside work, my other interests are Science-Fiction and my favourite author is Issac Asimov. On this site you can find my resume and some of the projects I have worked on or am currently working on. I haven't recorded everything I have worked on so the source code is not available right now. If you need any information about my projects or want to collaborate on any project please get in touch with me.
		</p>
	</div>
{% endblock %}