{% extends "base.html" %}
{% block "title" %}Resume{% endblock %}
{% block "content" %}
    <div class="main-section">
        <div class="res-personal">
            <div class="res-left">
                <h2>PERSONAL</h3>
            </div>
            <div class="res-right">
                <h3>Arjun Naik</h3>
                <p>Bangalore, Karnataka, In</p>
            </div>
        </div>
        
        <div class="res-education">
            <div class="res-left">
                <h2>EDUCATION</h3>
            </div>
            <div class="res-right">
                <h3 class="education-heading">Bachelor of Engineering (Computer Science and Engineering)</h3>
                <h4 class="institution-name">BM Sreenivasaiah College of Engineering, Bangalore, Karnataka, IN</h4>
                <p class="edu-duration">August 2006 - June 2010</p>
                <p class="edu-desc">
                    Algorithm Design, Database Management Systems, Digital Logic Design, Basic Electronics, Unix System Programming, Microprocessor Design,
                    Object Oriented Design, Compiler Design, Formal Languages and Automata, Simulation and Modelling, Computer Networks, Operating Systems,
                    Embedded Computing Systems, Computer Graphics.
                </p>
                <h3 class="education-heading">Pre-University Certificate (Science)</h3>
                <h4 class="institution-name">GSS PU College, Belgaum, Karnataka, IN</h4>
                <p class="edu-duration">August 2004 - March 2006</p>
                <p class="edu-desc">
                    Physcics, Chemistry, Mathematics &amp; Computer Science.
                </p>
                <h3 class="education-heading">Secondary School Certificate (Science)</h3>
                <h4 class="institution-name">St. Paul's High School, Belgaum, Karnataka, IN</h4>
                <p class="edu-duration">1994 - 2004</p>
            
            </div>
            
        </div>
        
        <div class="res-experience">
            <div class="res-left">
                <h2>EXPERIENCE</h3>
            </div>
            <div class="res-right">
                <h3 class="job-title">Web Developer</h3>
                <h4 class="job-location">NetBramha Studios, Bangalore, Karnataka, In</h4>
                <p class="job-duration">October 2006 - June 2011</p>
                
                <h3 class="job-title">User Interface/User Experience Engineer</h3>
                <h4 class="job-location">Notikum Pte. Ltd., Bangalore, Karnataka, In</h4>
                <p class="job-duration">July 2011 - Current</p>
            </div>
        </div>
        <div class="res-skills">
            <div class="res-left">
                <h2>SKILLS</h3>
            </div>
            <div class="res-right">
                <ul class="main-skills-list">
                    <li class="main-skill skill-odd">
                        <h4>Web Technologies:</h4>
                        <ul>
                            <li class="sub-skill">HTML(5)</li>
                            <li class="sub-skill">CSS</li>
                            <li class="sub-skill">JQuery, Dojo Toolkit</li>
                            <li class="sub-skill">Basic Page Design</li>
                        </ul>
                    </li>
                    <li class="main-skill skill-even">
                        <h4>Programming Languages:</h4>
                        <ul>
                            <li class="sub-skill">C/C++</li>
                            <li class="sub-skill">Python</li>
                            <li class="sub-skill">Javascript/ECMAScipt</li>
                            <li class="sub-skill">Java</li>
                            <li class="sub-skill">PHP</li>
                        </ul>
                    </li>
                    <li class="main-skill skill-odd">
                        <h4>Tools:</h4>
                        <ul>
                            <li class="sub-skill">Python Scrapy</li>
                            <li class="sub-skill">Python Fabric</li>
                            <li class="sub-skill">Javascript PhantomJS/pjscrape</li>
                            <li class="sub-skill">node.js</li>
                            <li class="sub-skill">Android Framework</li>
                        </ul>
                    </li>
                    <li class="main-skill skill-even">
                        <h4>Web Frameworks:</h4>
                        <ul>
                            <li class="sub-skill">Django</li>
                            <li class="sub-skill">Tornado</li>
                            <li class="sub-skill">CodeIgniter</li>
                            <li class="sub-skill">CakePHP</li>
                        </ul>
                    </li>
                    <li class="main-skill skill-odd">
                        <h4>Working Knowledge:</h4>
                        <ul>
                            <li class="sub-skill">Assembly - 8086</li>
                            <li class="sub-skill">OpenGL</li>
                            <li class="sub-skill">Lex and YACC</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}